@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@theme {
  --color-primary-500: #bababa;
  --color-primary-400: #080808;
  --color-primary-300: #0d0d0d;
  --color-primary-200: #737373;
  --color-primary-100: #e7e7e7;
  --color-primary-50: #f7f7f7;

  --color-secondary-300: #017373;
  --color-secondary-200: #048c80;
  --color-secondary-100: #aad9d1;

  --color-accent: #efece6;

  --color-gradient-bg: rgb(1, 115, 115);
  --color-gradient: linear-gradient(
    25deg,
    rgba(1, 115, 115, 1) 0%,
    rgba(170, 217, 209, 1) 100%
  );

  --font-dm: "DM Sans", sans-serif;
}
